.carousel-item{
    height: 530px;
}
.carousel-caption{
    position: absolute;
    top: 50px;
    left: 100px;
    color: rgb(46, 45, 45);
    text-align: left;
    width: 40%;
}
.icon{
    font-size: 4rem;
}
.card-img-top{
    height: 150px;
    
}
@media only screen and (max-width: 786px) {
    .carousel-item{
        height: auto;
    }
    .carousel-caption{
        position: absolute;
        top: 5px;
        left: 10px;
        color: rgb(46, 45, 45);
        text-align: left;
        width: 90%;
    }
    .carousel-caption h1{
        font-size: 1.5rem;
    }
}